body{

	background-color: rgb(254, 205, 84);
	font-family: Josefin Sans;
	font-size: 16px;
	margin: 0px;
	padding: 0px;

}

div.wrapper{

	background-color: white;
	width: 1000px;
	height: 3540px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-1{

	background-color: white;
	width: 1000px;
	height: 16800px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-2{

	background-color: white;
	width: 1000px;
	height: 2720px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-3{

	background-color: white;
	width: 1000px;
	height: 2400px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-4{

	background-color: white;
	width: 1000px;
	height: 2400px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-5{

	background-color: white;
	width: 1000px;
	height: 2400px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-6{

	background-color: white;
	width: 1000px;
	height: 3100px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-7{

	background-color: white;
	width: 1000px;
	height: 2470px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-8{

	background-color: white;
	width: 1000px;
	height: 3100px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-9{

	background-color: white;
	width: 1000px;
	height: 2650px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-10{

	background-color: white;
	width: 1000px;
	height: 2440px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-11{

	background-color: white;
	width: 1000px;
	height: 2650px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-12{

	background-color: white;
	width: 1000px;
	height: 2600px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-13{

	background-color: white;
	width: 1000px;
	height: 2940px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-14{

	background-color: white;
	width: 1000px;
	height: 3240px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-15{

	background-color: white;
	width: 1000px;
	height: 2700px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-16{

	background-color: white;
	width: 1000px;
	height: 2480px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-17{

	background-color: white;
	width: 1000px;
	height: 2700px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-18{

	background-color: white;
	width: 1000px;
	height: 2700px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-19{

	background-color: white;
	width: 1000px;
	height: 3200px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-20{

	background-color: white;
	width: 1000px;
	height: 2470px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-21{

	background-color: white;
	width: 1000px;
	height: 2470px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.wrapper-22{

	background-color: white;
	width: 1000px;
	height: 2060px;
	margin: 0 auto;
	padding: 20px;
	border-top: 10px rgb(254, 205, 84);
	border-bottom: 10px rgb(254, 205, 84) ;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;
	box-shadow: 5px 10px 15px rgb(0, 0, 0, 0.15);
}

div.header{

	padding: 20px;
}

.logo-img{

	height: 200px;
	width: 250px;
	cursor: pointer;
}

div.nav ul{

	background-color: white;
	margin: 0px;
	padding: 10px 0;
	box-shadow: 2px 2px 5px;
}

div.nav ul li{

	list-style-type:  none;
	display: inline-block;
}

div.nav ul li a{

	text-decoration: none;
	color: black;
	margin-right: 100px;
	padding-left: 50px;
	transition: color 1s;
	transition: font-size 0.15s;	
}

div.nav ul li a.active{

	color: rgb(241, 172, 1);
}

div.nav ul li a:hover{

	color: rgb(241, 172, 1);
	font-size: 17px;
}

div.banner{

	width: 100%;
	height: 500px;
}

div.banner img{

	margin-top: 10px;
	width: 100%;
	height: 500px;
	transition: opacity 0.5s;
}

div.banner img:hover{

	opacity: 0.91;
}

div.main{

	min-height: 500px;
	padding-top: 30px;
}

div.left-side-bar{

	margin-top: 5px;
	width: 195px;
	height: 135px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-2{

	margin-top: 5px;
	width: 195px;
	height: 206px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-3{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-4{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-5{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-6{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-7{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-8{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-9{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-10{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-11{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-12{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-13{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-14{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-15{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-16{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-17{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-18{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-19{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-20{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-21{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-21{

	margin-top: 5px;
	width: 195px;
	height: 170px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}

div.left-side-bar-23{

	margin-top: 5px;
	width: 195px;
	height: 100px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 10px 0px;

}



div.left-side-bar ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar ul li a.house{

	border-top: 1px solid black;
}

div.left-side-bar ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-2 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-2 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-2 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-2 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-2 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-2 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-2 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-3 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-3 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-3 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-3 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-3 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-3 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-3 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-4 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-4 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-4 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-4 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-4 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-4 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-4 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-5 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-5 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-5 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-5 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-5 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-5 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-5 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-6 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-6 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-6 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-6 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-6 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-6 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-6 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-7 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-7 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-7 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-7 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-7 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-7 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-7 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-8 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-8 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-8 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-8 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-8 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-8 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-8 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-9 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-9 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-9 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-9 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-9 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-9 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-9 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-10 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-10 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-10 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-10 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-10 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-10 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-10 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-11 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-11 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-11 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-11 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-11 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-11 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-11 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-12 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-12 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-12 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-12 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-12 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-12 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-12 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-13 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-13 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-13 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-13 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-13 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-13 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-13 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-14 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-14 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-14 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-14 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-14 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-14 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-14 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-15 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-15 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-15 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-15 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-15 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-15 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-15 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-16 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-16 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-16 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-16 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-16 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-16 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-16 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-17 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-17 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-17 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-17 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-17 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-17 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-17 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-18 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-18 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-18 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-18 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-18 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-18 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-18 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-19 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-19 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-19 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-19 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-19 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-19 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-19 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-20 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-20 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-20 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-20 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-20 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-20 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-20 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-21 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-21 ul li a.breakfast{

	border-top: 1px solid black;
}

div.left-side-bar-21 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-21 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-21 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-21 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-21 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

div.left-side-bar-23 ul{

	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.left-side-bar-23 ul li a.house{

	border-top: 1px solid black;
}

div.left-side-bar-23 ul li{

	margin: 0;
	text-align: center;
	border-bottom: 1px solid black;
	line-height: 25px;

}

div.left-side-bar-23 ul li a{

	display: block;
	width: 100%;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
	color: black;
	background-color: white;
	transition: ease-out 0.3s;
	position: relative;
	z-index: 1;

}

div.left-side-bar-23 ul li a:hover{

	color: white;
	cursor: pointer;
}

div.left-side-bar-23 ul li a:before{

	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
	background-color: rgba(241, 172, 1);
}

div.left-side-bar-23 ul li a:hover:before{

	transition: 0.5s all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}


div.content{

	width: 550px;
	float: left;
	min-height: 500px;
	margin: 10px;
}

div.content h1{

	padding-top: 12px;
	margin:  0px;
	font-family: Yeseva One;
	text-align: center;
	color: rgba(241, 172, 1);
	font-size: 30px;
	border-bottom: 1px solid darkgrey;
}

div.description{

	margin-top: 10px;
	text-align: justify;
	line-height: 1.5;
	text-indent: 50px;
	font-size: 20px;
	color: rgb(58, 58, 58);
}

div.content img{

	margin-top: 10px;
	width: 100%;
	transition: opacity 1s;
}

div.content img:hover{

	opacity: 0.91;
}

div.content h3 a{

	text-decoration: none;
	color: black;
	font-family: Yeseva One;
	text-align: center;
	transition: color 0.5s;

}

div.content h3 a:hover{

	color: rgba(241, 172, 1);
}

div.content img.bicol{

	height: 400px;
}

div.content h3.turon{

	border-bottom: 1px solid darkgrey;
	padding-bottom: 10px;
}


div.right-side-bar{
	width: 205px;
	float: right;
	min-height: 50px;
	margin: 10px 0px 10px 10px;
	background-color: rgb(255, 236, 189);
}

div.description-2{

	margin-top: 15px;
	text-align: justify;
	line-height: 1.5;
	text-indent: 50px;
	font-size: 20px;
	color: rgb(58, 58, 58);
}

div.content button{

	margin-top: 20px;
	color: black;
	height: 36px;
	width: 550px;
	background-color: white;
	border: 1px solid rgb(254, 172, 1);
	transition: background-color 0.5s;
	cursor: pointer;
	margin-bottom: 100px;
}

div.content button a{

	text-decoration: none;
	color: black;
	font-family: Josefin Sans;
	font-size: 20px;
	transition: color 0.5s;
}

div.content button:hover{

	background-color: rgb(254, 172, 1);
	color: white;
}

div.content button a:hover{

	
	color: white;
}

div.right-side-bar ul{

	margin: 0;
	padding: 20px;
}

div.right-side-bar ul li{

	list-style-type: none;

}

div.right-side-bar ul li img{

	width: 100%;
	padding-bottom: 10px;
	transition: opacity 0.5s;
	box-shadow: 1px 1px 5px;
}

div.right-side-bar ul li img:hover{

	opacity: 0.8;
}

div.right-side-bar ul h5{

	font-family: Josefin Sans;
	color: rgb(80, 80, 80);
}

div.right-side-bar ul li img.halohalo{

	height: 142px;
}

div.right-side-bar ul h4{

	margin-top: 5px;
}

div.footer{

	clear: both;
	padding: 10px;
	line-height: 25px;
	border-top: 1px solid darkgrey;

}

div.footer p{

	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	color: rgb(60, 60, 60);

}


div.footer a img{

	margin-left: 15px;
	width: 40px;
	justify-items: center;
	opacity: 0.9;
}